body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

.navbar{
    background-color:#DED369!important;
    color:black!important;
}

.navbar-toggler{
    margin-right:16px;
}


.navbar a{
    color:black !important;
}

i {
    color: #E0475B;
    font-size: 19px;
}

.navbar-logo{
    margin-left: 20px;
}

.navbar-brand{
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
}

.nav-link{
    font-family: 'Volkhov', serif;
    font-size: 20px;
}

.dropdown {
    margin-right: 60px;
}

.dropdown-menu a:hover{
    background-color: #DED369;
}


.dropdown-item {
    font-family: 'Volkhov', serif;
    }

.dropdown-menu.show {
    background-color: #DED369;
}

.offcanvas-body{
    background-color: #DED369;
}

.offcanvas-header{
    background-color: whitesmoke;
    font-family: 'Fredoka One', cursive;
}

.dropdown-menu.show{
    background-color: whitesmoke;
}


.main-header {
    text-align: center;
    font-family: 'Volkhov', serif;
}

.main-header h1 {
    margin-top: 11vh;
    margin-bottom: 4vh;
}

/*----- categories page cards---- */
.ratio-4x3 {
    @include media-breakpoint-up(md) {
      --bs-aspect-ratio: 50%; // 2x1
    }
}

.card-body{
    text-align: center;
    background-color: #F8EFEA;
}

.card-text{
    font-size: 15px;
}

.card-body button{
    font-family: 'Volkhov', serif;
}

.card{
    border-width: 5px;
    font-family: 'Volkhov', serif;
}

.btn{
    background-color: #DED369;
    color: black;
    border-color: #DED369;
    font-family: 'Volkhov', serif;
}

.btn:hover {
    background-color: #E0475B!important;
}

.brand-footer {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Fredoka One', cursive;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.modal-header .btn-close{
    visibility: hidden;
}

.random-modal-nonurl{
    margin-right: 25px;
}

/* add recipe page */

#recipeCont{
    margin-top: 60px;
}

.toggle{
    margin-left: 3.25rem;
}

.icon-center{
    text-align: center;
}

.form-switch{
    padding-left: 53px;
}

#add-recipe-flash{
    text-align: center;
    list-style-type: none
}


/* recipe - base */

.accordion{
    margin-top: 5px;
    color: white;
}

.accordion-button{
    background-color: #DED369;
    color: black;
}

.accordion-button:not(.collapsed){
    background-color: #E0475B;
    border-color: #E0475B;
    color: white;
}

.accordion-button:not(.collapsed) i{
    color: white;
}

.accordion-body{
    background-color: #F8EFEA;
}



.icon-key i{
    margin-left: 15px;
    margin-right: 6px;
    font-size: 18px;

}

.icon-key{
    font-family: 'Volkhov', serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: right;
}

.recipe-name{
    font-family: 'Volkhov', serif;
    font-size: 20px;
}

.recipe-time{
    font-family:font-family: 'Volkhov', serif;
}

.recipe-notes{
margin-bottom: 25px;
font-family: 'Volkhov', serif;
}

.recipe-icons{
    text-align: right;
    padding-right: 8px;
}

.modal-content{
    font-family: 'Volkhov', serif;
    background-color:#F8EFEA ;
}

.flashes{
    color: #E0475B;
    font-size: 20px;
}

@media screen and (max-width: 480px) {

.nomobile {
    display:none!important;
    
}

.navbar-brand{
    font-size: 16px;
}

.recipe-location{
    font-size: 14px;;
}

.recipe-name{
    font-size:13px ;
}

.recipe-notes{
    font-size:13px ;
}

.recipe-time{
    font-size: 10px;
    text-align: right;
}

.btn{
    font-size: 13px;
}

.icon-key{
    font-size: 11px;
}

.addRecipebtn{
    font-size: 12px;
}

.random-btn{
    font-size: 20px;
}

.accordion-button{
    padding: 10px 15px;
}

}

