{% extends "base.html" %}
{% block content %}

<div class="container-md main-header">
  <h1 class="center-align">Recipe Groups</h1>
</div>


<div class="card-group">


  <!-- Veg Meal Card, Button and Modal -->
  <div class="card border-light">
    <div class="ratio ratio-4x3">
      <img src="./static/images/vegetable_card.jpg" class="card-img-top" alt="selection of vegetables laid out on table">
  </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Vegetarian</h5>
      <p class="card-text">Vegetables are a good source of vitamins and minerals, including folate, vitamin C and
        potassium.
        Excellent source of dietary fibre, which can help to maintain a healthy gut. Reduce your risk of heart
        disease, stroke and some types of cancer.
      </p>
        <div class="mt-auto">
         NHS recommend: <br> 5 a day including fruit. <br> 80g per portions
        </div>
    </div>
    <!-- Button trigger modal -->

    <button type="button" class="btn random-btn" onclick="{%  set random_vegmeal = veg_recipe|random %}"
      data-bs-toggle="modal" data-bs-target="#randomVegModal">
      Get Random recipe!
    </button>

    <!-- Veg Meal Modal -->
    {% if random_vegmeal %}
    <div class="modal fade" id="randomVegModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="randomVegModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <h5 class="modal-title" id="vegModalHeader">
                    {{ random_vegmeal.recipe_name }}
                  </h5>
                </div>
                <div class="col-1 ms-auto">
                  {% if random_vegmeal.family_friendly == True %}
                  <i class="fa-solid fa-child-reaching"></i>
                  {% endif %}

                  {% if random_vegmeal.recipe_healthy == True %}
                  <i class="fa-solid fa-heart-pulse"></i>
                  {% endif %}
                </div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  {{ random_vegmeal.recipe_notes}}
                </div>
              </div>

              <div class="modal-footer">
                  <!-- if location starts with url apply click -->
                  {% if random_vegmeal.recipe_location.startswith("https") %}
                  <button class="btn btn-primary">
                    <a href="{{ random_vegmeal.recipe_location }}" class="text-decoration-none text-dark"
                        target="_blank" role="button">Click for recipe</a>
                  </button>
                  {% else %}
                  <div class="random-modal-nonurl">
                  {{ random_vegmeal.recipe_location }}
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-secondary pageRefresh" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>


  <!-- White Meat Meal Card, Button and Modal -->
  <div class="card border-light ">
    <div class="ratio ratio-4x3">
    <img src="./static/images/chicken_card.jpg" class="card-img-top" alt="grill pan containing a whole cooked chicken">
    </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">White Meat</h5>
      <p class="card-text">Chicken and turkey are a good source of lean protein, vitamins and minerals.
      </p>
      <div class="mt-auto">
          NHS recommend: <br> Go for turkey and chicken without the skin as lower in fat.
      </div>
    </div>
    <button type="button" class="btn random-btn" onclick="{% set random_wmeat = wmeat_recipe|random %}" data-bs-toggle="modal"
      data-bs-target="#randomWmeatModal">
      Get Random recipe!
    </button>

    {% if random_wmeat %}
    <!-- White Meat Meal Modal -->
    <div class="modal fade" id="randomWmeatModal" tabindex="-1" aria-labelledby="randomWmeatModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <h5 class="modal-title" id="wmeatModalHeader">
                    {{ random_wmeat.recipe_name }}
                  </h5>
                </div>
                <div class="col-1 ms-auto">
                  {% if random_wmeat.family_friendly == True %}
                  <i class="fa-solid fa-child-reaching"></i>
                  {% endif %}

                  {% if random_wmeat.recipe_healthy == True %}
                  <i class="fa-solid fa-heart-pulse"></i>
                  {% endif %}
                </div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  {{ random_wmeat.recipe_notes}}
                </div>
              </div>

              <div class="modal-footer">
                  <!-- if location starts with url apply click -->
                  {% if random_wmeat.recipe_location.startswith("https") %}
                  <button class="btn btn-primary">
                    <a href="{{ random_wmeat.recipe_location }}" class="text-decoration-none text-dark"
                        target="_blank" role="button">Click for recipe</a>
                  </button>
                  {% else %}
                  <div class="random-modal-nonurl">
                  {{ random_wmeat.recipe_location }}
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-secondary pageRefresh" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>



  <!-- Red Meat Meal Card, Button and Modal -->
  <div class="card border-light ">
    <div class="ratio ratio-4x3">
    <img src="./static/images/red_meat_card.jpg" class="card-img-top" alt="rare steak fillet on a plate">
    </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Red Meat</h5>
      <p class="card-text">Red meat provides us with iron, zinc and B vitamins.
        Meat is one of the main sources of vitamin B12 in the diet. 
      </p>
      <div class="mt-auto">
          NHS recommend: <br> Try to limit red meat to 70g a day <br>
      </div>

    </div>
    <button type="button" class="btn random-btn" onclick="{%  set random_rmeat = rmeat_recipe|random %}" data-bs-toggle="modal"
      data-bs-target="#randomRmeatModal">
      Get Random recipe!
    </button>

    <!-- Red Meat Meal Modal -->
    {% if random_rmeat %}
    <div class="modal fade" id="randomRmeatModal" tabindex="-1" aria-labelledby="randomRmeatModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <h5 class="modal-title" id="rmeatModalHeader">
                    {{ random_rmeat.recipe_name }}
                    <!-- Get random recipe and displays name, healthy, family and notes -->
                  </h5>
                </div>
                <div class="col-1 ms-auto">
                  {% if random_rmeat.family_friendly == True %}
                  <i class="fa-solid fa-child-reaching"></i>
                  {% endif %}

                  {% if random_rmeat.recipe_healthy == True %}
                  <i class="fa-solid fa-heart-pulse"></i>
                  {% endif %}
                </div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  {{ random_rmeat.recipe_notes}}
                </div>
              </div>

              <div class="modal-footer">
                  <!-- if location starts with url apply click -->
                  {% if random_rmeat.recipe_location.startswith("https") %}
                  <button class="btn btn-primary">
                    <a href="{{ random_rmeat.recipe_location }}" class="text-decoration-none text-dark"
                        target="_blank" role="button">Click for recipe</a>
                  </button>
                  {% else %}
                  <div class="random-modal-nonurl">
                  {{ random_rmeat.recipe_location }}
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-secondary pageRefresh" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- Oily-Fish Meal Card, Button and Modal -->
  <div class="card border-light ">
    <div class="ratio ratio-4x3">
    <img src="./static/images/oilyfish_card.jpg" class="card-img-top" alt="cooked salmon fillet on a plate">
    </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title">Oily-Fish</h5>
      <p class="card-text">
        Fish and shellfish are good sources of many vitamins and minerals.
        Salmon and sardines are particularly high in long-chain omega-3 fatty acids,
        which help to keep your heart healthy.
      </p>
      <div class="mt-auto">
          NHS recommend: <br> At least 1 portion of oily fish a week <br>
      </div>  
    </div>
    <button type="button" class="btn random-btn" onclick="{%  set random_ofish = ofish_recipe|random %}" data-bs-toggle="modal"
      data-bs-target="#randomOfishModal">
      Get Random recipe!
    </button>

    <!-- Oily-Fish Meal Modal -->
    {% if random_ofish %}
    <div class="modal fade" id="randomOfishModal" tabindex="-1" aria-labelledby="randomOfishModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <h5 class="modal-title" id="ofishModalHeader">
                    {{ random_ofish.recipe_name }}
                  </h5>
                </div>
                <div class="col-1 ms-auto">
                  {% if random_ofish.family_friendly == True %}
                  <i class="fa-solid fa-child-reaching"></i>
                  {% endif %}

                  {% if random_ofish.recipe_healthy == True %}
                  <i class="fa-solid fa-heart-pulse"></i>
                  {% endif %}
                </div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  {{ random_ofish.recipe_notes}}
                </div>
              </div>

              <div class="modal-footer">
                  <!-- if location starts with url apply click -->
                  {% if random_ofish.recipe_location.startswith("https") %}
                  <button class="btn btn-primary">
                    <a href="{{ random_ofish.recipe_location }}" class="text-decoration-none text-dark"
                        target="_blank" role="button">Click for recipe</a>
                  </button>
                  {% else %}
                  <div class="random-modal-nonurl">
                  {{ random_ofish.recipe_location }}
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-secondary pageRefresh" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <!-- White-Fish Meal Card, Button and Modal -->
  <div class="card border-light ">
    <div class="ratio ratio-4x3">
      <img src="./static/images/white_fish_card.jpg" class="card-img-top" alt="plated fish fillet on potatoes">
    </div>
    <div class="card-body  d-flex flex-column">
      <h5 class="card-title">White-Fish</h5>
      <p class="card-text">Low in fat. some species can be a source of omega-3 fatty acids, e.g.
        sea bass, sea bream, turbot, halibut, but at lower levels than oily fish.
      </p>
      <div class="mt-auto">
          NHS recommend: <br> At least 2 portions of fish a week, including 1 of oily fish <br>
      </div>
    </div>
      <button type="button" class="btn random-btn" onclick="{%  set random_wfish = wfish_recipe|random %}" data-bs-toggle="modal"
        data-bs-target="#randomWfishModal">
        Get Random recipe!
      </button>

    <!-- White-Fish Meal Modal -->
    {% if random_wfish %}
    <div class="modal fade" id="randomWfishModal" tabindex="-1" aria-labelledby="randomWfishModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div class="container">
              <div class="row">
                <div class="col-10">

                  <h5 class="modal-title" id="wfishModalHeader">
                    {{ random_wfish.recipe_name }}
                  </h5>
                </div>
                <div class="col-1 ms-auto">
                  {% if random_wfish.family_friendly == True %}
                  <i class="fa-solid fa-child-reaching"></i>
                  {% endif %}

                  {% if random_wfish.recipe_healthy == True %}
                  <i class="fa-solid fa-heart-pulse"></i>
                  {% endif %}
                </div>
              </div>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  {{ random_wfish.recipe_notes}}
                </div>
              </div>

              <div class="modal-footer">
                  <!-- if location starts with url apply click -->
                  {% if random_wfish.recipe_location.startswith("https") %}
                  <button class="btn btn-primary">
                    <a href="{{ random_wfish.recipe_location }}" class="text-decoration-none text-dark"
                        target="_blank" role="button">Click for recipe</a>
                  </button>
                  {% else %}
                  <div class="random-modal-nonurl">
                  {{ random_wfish.recipe_location }}
                  </div>
                  {% endif %}
                  <button type="button" class="btn btn-secondary pageRefresh" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %}