{% extends "base.html" %}
{% block content %}

<div class="container-md main-header">
    <h1 class="center-align">Edit Recipe</h1>
</div>


<div class="container" id="recipeCont">
    <form class="row g-3" method="POST" action="{{ url_for('edit_recipe', recipe_id = recipe.id) }}">
        <!-- recipe name -->
        <div class="row mb-3">
            <div class="col-1">
                <i class="fas fa-pencil-alt"></i>
            </div>
            <div class=" col-11">
                <div class="form-floating">
                    <input id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" minlength="5"
                        maxlength="300" type="text" class="form-control" placeholder=" Recipe Name" required>
                    <label for="recipe_name" class="form-label">Recipe Name</label>
                </div>
            </div>
        </div>
        <!-- recipe notes -->
        <div class="row mb-3">
            <div class="col-1">
                <i class="fas fa-align-left"></i>
            </div>
            <div class=" col-11">
                <div class="form-floating">
                    <textarea id="recipe_notes" name="recipe_notes" minlength="5" maxlength="300" type="text"
                        class="form-control" placeholder="Recipe Notes" required>
                        {{- recipe.recipe_notes -}}
                    </textarea>
                    <label for="recipe_notes" class="form-label">Recipe Notes</label>
                </div>
            </div>
        </div>


        <!-- recipe location -->
        <div class="row mb-3">
            <div class="col-1">
                <i class="fa-solid fa-magnifying-glass-arrow-right fa-lg"></i>
            </div>
            <div class="col-11">
                <div class="form-floating">
                    <textarea id="recipe_location" name="recipe_location" minlength="5" maxlength="200" type="text"
                        class="form-control" placeholder="Recipe location" required>
                        {{- recipe.recipe_location -}}
                    </textarea>
                    <label for="recipe_location" class="form-label">Recipe Location, url or cookbook inc. page
                        number</label>
                </div>
            </div>
        </div>

        <!-- cook time -->
        <div class="row mb-3">
            <div class="col-1">
                <i class="fa-solid fa-clock"></i>
            </div>
            <div class=" col-11">
                <div class="form-floating">
                    <input id="cook_time" name="cook_time" value="0{{ recipe.cook_time }}" minlength="4" maxlength="4"
                        type="time" class="form-control" placeholder="cook time" required>
                    <label for="cook_time" class="form-label">Cook Time HH:MM</label>
                </div>
            </div>
        </div>

        <!-- recipe cuisine -->
        <div class="row">
            <div class="col-1">
                <i class="fa-solid fa-earth-americas"></i>
            </div>
            <div class=" col-11">
                <select id="cuisine_id" name="cuisine_id" class="form-select mb-3" required>
                    <option value="" disabled selected>Cuisine</option>
                    {% for cuisine in cuisines %}
                    {% if cuisine == recipe.cuisine %}
                    <option value="{{ cuisine.id }}" selected>{{ cuisine.recipe_cuisine }}</option>
                    {% else %}
                    <option value="{{ cuisine.id }}">{{ cuisine.recipe_cuisine }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="cuisine_id" class="form label"></label>
            </div>
        </div>


        <!-- category id -->
        <div class="row">
            <div class="col-1">
                <i class="fa-solid fa-layer-group"></i>
            </div>
            <div class="col-11">
                <select id="category_id" name="category_id" class="form-select mb-3" required>
                    <option value="" disabled selected>Food Category</option>
                    {% for category in categories %}
                    {% if category == recipe.category %}
                    <option value="{{ category.id }}" selected>{{ category.food_category }}</option>
                    {% else %}
                    <option value="{{ category.id }}">{{ category.food_category }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label for="category_id" class="form label"></label>
            </div>
        </div>





        <!-- family friendly -->
        <div class="row mb-4">
            <div class="col-1 ">
                <i class="fa-solid fa-child-reaching"></i>
            </div>
            <div class="form-check form-switch col-8">
                <label class="form-check-label" for="flexSwitchCheckDefault">Family-Friendly?</label>
                {% if recipe.family_friendly == True %}
                <input class="form-check-input" name="family_friendly" type="checkbox" id="flexSwitchCheckDefault"
                    checked>
                {% else %}
                <input class="form-check-input" name="family_friendly" type="checkbox" id="flexSwitchCheckDefault">
                {% endif %}
            </div>
        </div>
        <!-- healthy -->
        <div class="row mb-4">
            <div class="col-1 ">
                <i class="fa-solid fa-heart-pulse"></i>
            </div>
            <div class="form-check form-switch col-8">
                <label class="form-check-label" for="flexSwitchCheckDefault">Healthy?</label>
                {% if recipe.recipe_healthy == True %}
                <input class="form-check-input" name="recipe_healthy" type="checkbox" id="flexSwitchCheckDefault"
                    checked>
                {% else %}
                <input class="form-check-input" name="recipe_healthy" type="checkbox" id="flexSwitchCheckDefault">
                {% endif %}
            </div>
        </div>


        <!-- edit button -->
        <div class="d-grid col-6 mx-auto">
            <button type="submit" class="btn btn-lg">
                Save changes <i class="fas fa-plus-square right"></i>
            </button>
            
        </div>


    </form>
</div>
{% endblock %}